*{
    margin: 0;
    padding: 0;
 }

 body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 60px; /* Ajusta esto según el alto de tu encabezado */
 }
 /*Barra de navegacion*/

 .menu-toggle {
  display: none; 
  cursor: none;
  align-self: flex-end; /* Alinea a la derecha */
  margin-right: 10px; /* Agrega un margen derecho */
}



 
 .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #252222;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}


.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 50px;
  margin-right: 10px;
}

.logo-text {
  display: flex;
  flex-direction: column;
}

.logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo-text h2 {
  margin: 0;
  color: #539c17;
}

.logo-text p {
  margin: 0;
  color: #fff;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links li a {
  text-decoration: none;
  color: #fff;
  padding-bottom: 5px;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3s ease-in-out;
}

.nav-links li a:hover {
  border-bottom: 2px solid #539c17;
}

.login-btn a {
  background-color: #539c17;
  color: #fff;
  padding: 8px 16px;
  border-radius: 10px;
}

.login-btn a:hover {
  background-color: #3b641a;
}

/*Flecha para volver arriba*/
.go-top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #f1f1f1;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  transition: opacity 0.3s, visibility 0.3s;
  opacity: 0;
  visibility: hidden;
}

.go-top-button.active {
  opacity: 1;
  visibility: visible;
}

.arrow-up {
  border: solid #333;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
  transform: rotate(-135deg);
}

  /*footer*/
  
  #footer-box {
    background-color: #212121;
    width: 100%;
    margin-top: 20px;
  }
  
  #footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    color: #fff;
    align-content: center;}
  
  .footer-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
  
  .footer-col b {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .footer-col-contacto {
    text-align: center;
  }
  
  
  
  #footer-logo {
    border-bottom: none;
    margin-bottom: 0;
  }
  
  #footer-redes {
    margin-top: 20px;
    padding-left: 0;
    margin-left: 60px;
  }
  
  #footer-marcas {
    width: 100%;
    background-color: #0e0e0e;
    text-align: center;
    font-size: 12px;
    color: #909090;
    margin-top: 20px;
  }

/* Tablets en modo horizontal (landscape) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .navbar {
    flex-direction: row; /* Alinea los elementos en una fila */
    align-items: center;
    justify-content: space-between; /* Espacio entre elementos */
    align-items: center;
    margin-right: 60%; /* Ajusta el margen derecho según el ancho del menú */
  }
   

   .nav-links {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 75px; /* Alinea a la derecha, pero deja espacio para el navbar */
    left: 0;
    bottom: 0; /* Extiende el menú hasta la parte inferior de la pantalla */
    width: 100%; /* Ajusta el ancho según tus necesidades */
    height: 32vh;
    background-color: #252222;
    z-index: 9999;
    overflow-y: auto; /* Agrega una barra de desplazamiento si el contenido es largo */
  }

  .nav-links.show {
    display: flex;
  }

  .nav-links li {
    text-align: center;
    margin: 20px 0;
  }

  .nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
  }

  .logo {
    margin-top: 10px;
    margin-right: 130px;

  }

  .menu-toggle {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-bottom: 5px;
  }
  .menu-toggle .icon-close {
    display: none;
  }
  
  .menu-toggle.show .icon-close {
    display: block;
  }
  
  .menu-toggle.show .icon-bars {
    display: none;
  }
  
  .menu-toggle:not(.show) .icon-bars {
    display: block;
  }
  
}
/* Teléfonos móviles en modo vertical (portrait) */
/* Media query para mostrar/ocultar el menú de hamburguesa en dispositivos móviles */
@media only screen and (max-width: 767px) {
  .navbar {
    flex-direction: row; /* Alinea los elementos en una fila */
    align-items: center;
    justify-content: space-between; /* Espacio entre elementos */
    align-items: center;
    margin-right: 60%; /* Ajusta el margen derecho según el ancho del menú */
  }
   

   .nav-links {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 75px; /* Alinea a la derecha, pero deja espacio para el navbar */
    left: 0;
    bottom: 0; /* Extiende el menú hasta la parte inferior de la pantalla */
    width: 100%; /* Ajusta el ancho según tus necesidades */
    height: 32vh;
    background-color: #252222;
    z-index: 9999;
    overflow-y: auto; /* Agrega una barra de desplazamiento si el contenido es largo */
  }

  .nav-links.show {
    display: flex;
  }

  .nav-links li {
    text-align: center;
    margin: 20px 0;
  }

  .nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
  }

  .logo {
    margin-top: 10px;
    margin-right: 110px;

  }

  .menu-toggle {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-bottom: 5px;
  }
  .menu-toggle .icon-close {
    display: none;
  }
  
  .menu-toggle.show .icon-close {
    display: block;
  }
  
  .menu-toggle.show .icon-bars {
    display: none;
  }
  
  .menu-toggle:not(.show) .icon-bars {
    display: block;
  }

  #footer-box {
    background-color: #212121;
    width: 117vh;
  }


}