*{
    margin: 0;
    padding: 0;
 }

 body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
 }
 /*Barra de navegacion*/
 
 .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #252222;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}


.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 50px;
  margin-right: 10px;
}

.logo-text {
  display: flex;
  flex-direction: column;
}

.logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo-text h2 {
  margin: 0;
  color: #539c17;
}

.logo-text p {
  margin: 0;
  color: #fff;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links li a {
  text-decoration: none;
  color: #fff;
  padding-bottom: 5px;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3s ease-in-out;
}

.nav-links li a:hover {
  border-bottom: 2px solid #539c17;
}

.login-btn a {
  background-color: #539c17;
  color: #fff;
  padding: 8px 16px;
  border-radius: 10px;
}

.login-btn a:hover {
  background-color: #3b641a;
}

/*Flecha para volver arriba*/
.go-top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #f1f1f1;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  transition: opacity 0.3s, visibility 0.3s;
  opacity: 0;
  visibility: hidden;
}

.go-top-button.active {
  opacity: 1;
  visibility: visible;
}

.arrow-up {
  border: solid #333;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
  transform: rotate(-135deg);
}



/* Inicio */
.fullscreen-image {
  position: relative;
  height: 100vh;
  overflow: hidden;
  background-color: #2522227a;
}

.fullscreen-image img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.fullscreen-image .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

.fullscreen-image .content h1 {
  font-size: 40px;
  margin: 20px;
}

.fullscreen-image .content p {
  font-size: 20px;
  margin-top: 318px;
}

.scroll-down-arrow {
  position: absolute;
  bottom: -70px;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 40px;
  color: #fff;
  font-size: 24px;
  animation: scrollAnimation 1.5s infinite;
  border: 2px #fff solid;
  border-radius: 100%;
  align-items: center;
  cursor: pointer;
}

@keyframes scrollAnimation {
  0%, 100% {
    opacity: 1;
    transform: translateY(0);
  }
  50% {
    opacity: 0;
    transform: translateY(8px);
  }
}

.fas{margin: 7px;}

/*footer*/

#footer-box {
  background-color: #212121;
  width: 100%;
}

#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: #fff;
}

.footer-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.footer-col b {
  font-size: 20px;
  margin-bottom: 10px;
}

.footer-col-contacto {
  text-align: center;
}



#footer-logo {
  border-bottom: none;
  margin-bottom: 0;
}

#footer-redes {
  margin-top: 20px;
  padding-left: 0;
  margin-left: 60px;
}

#footer-marcas {
  width: 100%;
  background-color: #0e0e0e;
  text-align: center;
  font-size: 12px;
  color: #909090;
  margin-top: 20px;
}

/*Tabla de precios*/

.container-price {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #539c17;
  padding: 20px;
}

#precios-box {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 15px;
}

/* Estilos para la tabla */
#precios {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  padding: 15px;
}

#precios th, #precios td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ccc;
  text-align: center;
}

#precios th {
  background-color: #f2f2f2;
  font-weight: bold;
  text-align: center;
  padding: 15px;
}


#precios tr:nth-child(even) {
  background-color: #f9f9f9;
}

#precios td p{
 font-size: 10px;
 color:#909090;
 text-align: center;
}

/* Estilos para los encabezados de sección */
.section-price {
  background-color: #539c17;
  color: #fff;
  font-size: 24px;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 14px;
}

/*Botones*/

.btn-option{
  padding: 13px;
  width: 180px;
  margin: 20px;
  background-color: #539c17;
  border-radius: 25px;
  color:#fff;
  font-size: 25px;
}
.btn-option:hover{
  background-color: #3b641a;
  cursor:pointer;
}

.conteiner-opcion{
  width:100%;
  height: auto;
  display:flex;
  text-align: center;
  justify-content: center;
  margin-top: 20px;
}
.section-option h2 {
  color: #539c17;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  padding: 14px;
}
.section-option h2 {
  color: #539c17;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  padding: 14px;
}
.section-option p {
  color: #333;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding: 14px;
}


/*Seccion de propiedades en venta*/

.container-houses{
  width:100%;
  height: auto;
  display:flex;
  text-align: center;
  justify-content: center;
}

.section-houses h2 {
  color: #539c17;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  padding: 14px;
}
.section-houses p {
  color: #333;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding: 14px;
}


.property-section {
  background-color:#5f8f38;
}
.property-section h2 {
  margin: 20px;
  font-size: 35px;
  color: #fff;
  text-align: center;
  
}
.property-section p {
  margin: 20px;
  font-size: 12px;
  color: #fff;
  text-align: center;
  
}

.property-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px;

}

.property-item {
  flex: 0 0 calc(33.33% - 20px);
  margin-bottom: 20px;
}

.property-image {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

.property-image img {
  max-width: 100%;
  height: auto;
}

.property-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
}

.property-overlay h3,
.property-overlay p,
.property-overlay a {
  margin: 0;
}

.property-overlay h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.property-overlay a {
  display: flex;
  padding: 5px 10px;
  background-color: #539c17;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  justify-content: center;

}

.property-overlay a:hover{
 background-color:#3b641a}




/* Estilos de la sección de contenido */

.members{
  margin-top: 10px;
  margin-bottom: 16px;
}

.members h2{

  text-align: center;
  font-size: 35px;
  color: #539c17;
  margin: 30px;
}



.member-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  justify-items: center;
  padding: 20px;
  text-align: center;
}

.member {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f1f1f1;
  overflow: hidden;
  cursor: pointer;
}

.member img {
  width: 300px;
  height: auto;
}

.member-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.member:hover .member-overlay {
  opacity: 1;
}

.member h2,
.member h3,
.member h4 {
  margin: 0;
}

.member p {
  margin: 5px 0 0;
}